body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.address-show {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.address-cards {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.address-cards p {
    margin: 5px 0;
}

/* Optional: Add media query for responsiveness */
@media screen and (max-width: 768px) {
    .address-cards {
        width: 100%;
    }
}


#formContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formContainer h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-field {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    font-weight: 600;
    padding: 10px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.checkbox-same-as-billing {
    margin-right: 5px;
}

.check-box{
    display: flex;
}

.button-submit {
    background-color: #4caf50;
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin: 4px auto;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-submit:hover {
    background-color: #45a049;
}

option {
    font-weight: 600;
    color: #555;
    background-color: #fff; /* Background color */
    padding: 10px;
}

option:hover {
    background-color: #f0f0f0; /* Hover background color */
}

option:checked {
    background-color: #c6c6c6; /* Selected background color */
}