body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.table-container {
    padding: 20px 8rem;
}

.table-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.table-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

select, button {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.status-update-form{
    display: flex;
}

.update-th{
    text-align: center;
}

.form-td{
    display: flex;
    justify-content: center;
}

select {
    width: 150px;
    border: 1px solid rgb(180, 180, 180);
}

option {
    font-weight: 600;
    color: #555;
    background-color: #fff;
    padding: 10px;
}

option:hover {
    background-color: #f0f0f0; 
}

option:checked {
    background-color: #c6c6c6; 
}

button {
    margin-left: 5px ;
    align-items: flex-end;
    color: #fff;
    font-weight: 600;
    background-color: grey;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #383838;
}

.action-text{
    font-size: large;
    font-weight: 700;
}

.cancel-request-td{
    text-align: center;
}

.primary-button{
    background-color: green;
}

.primary-button:hover{
    background-color: rgb(0, 70, 0);
}

.cancel-decline-button{
    background-color: red;
}

.cancel-decline-button:hover{
    background-color: rgb(130, 0, 0);
}