.title{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: rgb(55, 55, 55);
}

.orderbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.order-card {
    display: flex;
    align-items: center;
    width: calc(30% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.order-details {
    flex: 1;
}

.order-details p {
    margin: 5px 0;
}

.product-name {
    font-weight: bold;
}

.product-image {
    width: 190px; 
    height: 300pz;
    margin-right: 20px; 
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.color-box{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
}

.order-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
