body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.title{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: rgb(55, 55, 55);
}

.orderbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    justify-content: center; 
    align-items: center;
}

.order-card {
    display: flex;
    min-width: 300px;
    align-items: center;
    width: calc(30% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.order-details {
    flex: 1;
}

.order-details p {
    margin: 5px 0;
}

.product-name {
    font-weight: bold;
}

.product-image {
    width: 190px; 
    height: 230px;
    margin-right: 20px; 
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.color-box{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
}

.order-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status-badge {
    position: absolute;
    top: -20px;
    left: 45%;
    transform: translateX(-50%);
    background-color: rgba(161, 215, 76, 0.8);
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    z-index: 1; 
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: visible;
    margin-top: 25px;
    z-index: 0; 
}

.progress-bar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2fb042;
    width: 0;
    transition: width 2s ease;
    z-index: -1; 
}


.cancel-button a{
    text-decoration: none;
    color: white;
}
.cancel-button {
    margin-top: 20px;
    background-color: #ff6347; 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #d32f2f; 
}

.cancel-msg{
    padding-top: 10px;
    font-weight: 700;
}

.orders-empty {
    text-align: center;
    margin: 20px;
}

.orders-empty h3 {
    margin-top:0 ;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1b7158;
}

.orders-empty .empty {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1120px) {
    .order-card {
        flex-basis: calc(45% - (2 * 20px)); 
        margin: 0 auto;
    }
}


@media only screen and (max-width: 768px) {
    .order-card {
        flex-basis: calc(60% - (2 * 20px)); 
        margin: 0 auto; 
    }
}

@media only screen and (max-width: 480px) {
    .order-card {
        flex-basis: calc(90% - (2 * 20px)); 
        margin: 0 auto; 
    }
}
